<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:src="@{/jquery-1.12.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<form th:action="@{/queryBook/findBookQuery}" th:object="${bookQuery}" th:method="get">
    <div class="form-group">
        <label class="col-sm-2 control-label" >name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="请输入名称" th:field="*{name}"/>
        </div>
        <label class="col-sm-2 control-label">isbn</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="isbn" placeholder="请输ISBN" th:field="*{isbn}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" >author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="author" placeholder="请输author" th:field="*{author}"/>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-default" type="submit" placeholder="查询">查询</button>
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>isbn</th>
        <th>author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${datas}">
        <td th:text="${obj.id}">${obj.id}</td>
        <td th:text="${obj.name}">${obj.name}</td>
        <td th:text="${obj.isbn}">${obj.isbn}</td>
        <td th:text="${obj.name}">${obj.author}</td>
    </tr>
    </tbody>
</table>
<div th:include="page :: pager" th:remove="tag"></div>
</body>
</html>